.searchContainer {
    border: 4px solid black;
    border-radius: 4px;
    display: grid;
    width: 80%;
    min-width: 600px;
    padding: 20px;
    margin: auto;
    vertical-align: middle;
    grid-template-columns: 19% 31% 19% 31%;
    gap: 5px;
}

.searchItem {
    padding: 10px 20px 10px 0;
}

.searchItem label {
    display: block;
    margin: 8px 0 8px 4px;
    font-weight: 500;
}

.searchItem .searchRadioLabel {
    display: inline-block;
    margin-right: 10px;
}

.searchItem:nth-child(2) {
    grid-column: 2 / span 3;
}

.searchItem:last-child {
    grid-column: 1 / span 4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"], 
input[type="number"], 
input[type="password"], 
select {
    width: 100%;
    font-size: 14px;
    padding: 10px 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
}

input[type="text"]:hover, 
input[type="number"]:hover, 
input[type="password"]:hover {
    background-color: var(--back-color);
    transition: 0.1s;
}

input[type="text"]:focus, 
input[type="password"]:focus {
    background-color: white;
    transition: 0.1s;
}

select {
    width: calc(100% + 12px);
}

input[type="submit"], 
input[type="button"] {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
}

input[type="submit"]:hover, 
input[type="button"]:hover {
    background-color: var(--back-color);
    cursor: pointer;
    transition: 0.1s;
}